body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  overflow-wrap: break-word !important;
}

#root {
  overflow: auto;
  background-image: url("./img/background.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  height:100vh;
  box-shadow: inset 0 0 0 100% rgba(0, 0, 0, 0.5);
}
